{% extends 'base.html.twig' %}

{% block title %}Create new content warning{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'id': 'form_create_contentwarning'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="btn-toolbar">
        <span class="mr-auto"></span>
        <a class="btn btn-outline-secondary mr-1" href="{{ path('contentwarning_list') }}">
            <span class="oi oi-chevron-left"></span> Back to the list
        </a>
        <button class="btn btn-outline-primary" form="form_create_contentwarning">
            <span class="oi oi-check"></span> Create
        </button>
    </div>
{% endblock %}
