{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/default/index.css') }}" />{% endblock %}
{% block javascripts %}<script type="text/javascript" src="{{ asset('js/index/index.js') }}"></script>{% endblock %}


{% block body %}
    <div id="strip-container">
        <img id="default-strip" class="align-self-end" src="{{ asset('images/default-strip.png') }}">
    </div>
{% endblock %}
