.account-details {
    margin-bottom: 30px;
}

#account-details .account-details.avatar img {
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    height: 200px;
    width: 200px;
    border-radius: 150px;
}

#account-details .account-details.username {
    font-size: 30px;
}

#account-details .account-details.email {
    font-size: 20px;
}

#account-details .account-details.biography {
    font-size: 18px;
    text-align: justify;
    background-color: white;
    padding: 15px 20px;
    border: 1px solid #ccc;
}

#account-details .account-details.biography .empty-biography {
    font-style: italic;
    color: #aaa;
}

